    /* not-found.component.css */
    .not-found-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        text-align: center;
    }
    
    .image-container {
        margin-top: 20px;
        text-align: center;
    }
    
    .small-image {
        max-width: 200px; /* Ajusta el tamaño según tus necesidades */
        height: auto;
    }
    