
<app-header></app-header>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="stylesheet" href="not-found.component.css">
</head>
<body>
    <!-- not-found.component.html -->
<div class="not-found-container">

    <h1>No se ha encontrado la pagina </h1>
    <div class="image-container">
        <img src="assets/error404.jpg" alt="Error 404" class="small-image">
    </div>
    <br>
</div>

</body>
<app-footer></app-footer>