<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<app-header></app-header>
<body>
  <section class="container mt-5">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <h2 class="text-center mb-4">Aviso de Privacidad</h2>
        <p class="lead">En "Gateway Soluciones en TI" nos comprometemos a proteger tu privacidad y tus datos personales. A continuación, te informamos sobre nuestro aviso de privacidad:</p>

        <h3>Recopilación de Información:</h3>
        <p>Recopilamos información personal cuando te registras en nuestro sitio web, realizas una compra o completas un formulario. Esta información puede incluir tu nombre, dirección, dirección de correo electrónico y número de teléfono.</p>

        <h3>Uso de la Información:</h3>
        <p>Utilizamos la información que recopilamos para procesar tus pedidos, personalizar tu experiencia en nuestro sitio web y proporcionarte información sobre nuestros productos y servicios.</p>

        <h3>Protección de Datos:</h3>
        <p>Adoptamos medidas de seguridad adecuadas para proteger tus datos personales contra pérdida, uso indebido o acceso no autorizado.</p>

        <h3>Compartir Información:</h3>
        <p>No compartimos tu información personal con terceros sin tu consentimiento, excepto cuando sea necesario para procesar tu pedido o cumplir con la ley.</p>

        <h3>Acceso y Corrección de Datos:</h3>
        <p>Tienes derecho a acceder, corregir o eliminar la información personal que tenemos sobre ti. Si deseas ejercer estos derechos, contáctanos.</p>

        <h3>Modificaciones al Aviso de Privacidad:</h3>
        <p>Nos reservamos el derecho de modificar este aviso de privacidad en cualquier momento. Cualquier cambio entrará en vigor inmediatamente después de su publicación en nuestro sitio web.</p>

        <h5>Al utilizar nuestro sitio web, aceptas nuestro aviso de privacidad en su totalidad. Si tienes alguna pregunta o inquietud sobre nuestra política de privacidad, no dudes en contactarnos.</h5>
      </div>
    </div>
  </section>

  <footer class="bg-light py-4 mt-5">
    <div class="container text-center">
      <p>Última actualización: 08/04/2024</p>
    </div>
  </footer>

</body>
<app-footer></app-footer>

</html>
