<app-header></app-header>
<div class="location">
  <div class="title">
      <h2>Ubicación</h2>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d930.3110301891118!2d-98.42036493049723!3d21.142681049612328!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d726eb229f0069%3A0xe5850caac6aa80c8!2sGayeway%20Soluciones%20En%20T.I.!5e0!3m2!1ses!2smx!4v1709033097165!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

</div>
<app-footer></app-footer>
